@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@100&display=swap');

/* VARIABLES */
:root {
    --cream-color: #D9C9B9;
    --font-hero-card: 'Bebas Neue';
}


html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    border: border-box;
}

/**NAV BAR**/
.nav-bar {
    margin: 2.5rem 0 3rem 0;
    padding: 0;
}

/**SEARCH BAR**/
.search-bar {
    width: 100%;
    height: auto;

}

.input-group {
    width: 100%;

}

.input-box {
    width: 35.1875rem;
    ;
    border: none;
}

/**NAV MENU**/
.nav-link {
    font-size: 0.9375rem;
    letter-spacing: 0.02813rem;
}

/**ANNOUNCEMENT BAR**/
.ann-bar-section {
    background: rgba(185, 194, 217, 0.30);
}

.ann-bar-div {
    min-height: 4.1875rem;
    ;
}

.ann-bar-text {
    font-size: 0.8125rem;
    line-height: normal;
    letter-spacing: 0.02438rem;
}



/**HERO SECTION**/
.bg-image {
    height: 43.75rem;
    background-size: cover;
    background-repeat: no-repeat;

}

/**HERO CARD**/

.hero-card {
    max-width: 23.6875rem;
    width: 100%;
    background: transparent !important;
}

.hero-card-body {
    background: rgba(120, 120, 120, 0.90) !important;
    padding: 3.75rem;
}

.hero-card-title {
    color: var(--cream-color);
    font-size: 2rem;
    line-height: 1.25rem;
    letter-spacing: -0.03rem;
    padding-bottom: 1.88rem;
    margin: 0;
}

.hero-card-text-1 {
    color: var(--cream-color);
    font-family: var(--font-hero-card);
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.hero-card-text-2 {
    color: var(--cream-color);
    font-family: var(--font-hero-card);
    font-size: 2.8125rem;
    letter-spacing: -0.04219rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
    padding: 0;
}

.hero-card-text-3 {
    color: var(--cream-color);
    font-family: var(--font-hero-card);
    font-size: 2.8125rem;
    letter-spacing: -0.04219rem;
    padding: 0;
    margin-bottom: 0;
}

.hero-card-btn {
    width: 8.75rem;
    height: 2.8125rem;
    gap: 0.1875rem;
    border-radius: 0.625rem;
    background: #B9C2D9;
    color: #000;
    margin-top: 3.5rem;
}

/**CATEGORY SECTION**/
.category-section .container {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.category-section .container li img {
    height:auto !important;
}

.cat-title {
    font-family: var(--font-hero-card);
    margin-bottom: 1.56rem;
    font-size: 2.125rem;
    letter-spacing: -0.03188rem;
}

.cat-items {
    margin: 0;
}

/**BEST OF BEST**/
.bob-title {
    font-family: var(--font-hero-card);
    font-size: 3.125rem;

}

/* PRODUCT CARD */
.product-card-img {
    height: 8.8125rem !important;
    object-fit: contain;
}

.product-card-title {
    font-size: smaller;
}

.product-card-btn {
    border-radius: 0.625rem;
    background: #B9C2D9;
    margin-top: 1.12rem;
}

/**Owl Carosoul CSS**/

.bob-section #owl-carousel-1 .product-card-btn img,
.whats-new-section #owl-carousel-2 .product-card-btn img,
.recent-stock-section #owl-carousel-3 .product-card-btn img {
    display: inline;
    width: 1.3125rem;
}

.owl-nav {
    position: absolute;
    bottom: -3rem;
    left: 0;
    display: inline-flex;
    gap: 2rem;
    padding-bottom: 0;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
    background: none !important;
    outline: none !important;
    opacity: 1;

}



/**WHY US**/
.why-us-section {
    background: #D9C9B9;
}

.whyus-title {
    font-family: var(--font-hero-card);
    font-size: 2.25rem;
}

.whyus-info-title {
    font-family: var(--font-hero-card);
    font-size: 1.5rem;
    line-height: normal;
    letter-spacing: -0.0225rem;
}

.whyus-info-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
}

/**ARTICLE BLOG 1**/
.blog-card-body {
    background: rgba(185, 194, 217, 0.30);

}

.blog-card-title {
    font-family: var(--font-hero-card);
    font-size: 1.625rem;
}

.blog-card-text {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
}
.blog-card-image {
    max-width: 100% !important;
}

.blog-btn {
    display: flex;
    width: fit-content;
    height: 3.125rem;
    justify-content: center;
    align-items: center;
    background: #FFF;
    border-radius: 0.625rem;
}

/**ARTICLE BLOG 2**/
.article-blog-2-title {
    font-family: var(--font-hero-card);
    font-size: 2.4375rem;
}

.article-blog-2-section .card-body {
    background: #EAEAEA;
}

/**FOOTER**/
.footer-newsletter {
    background: rgba(185, 194, 217, 0.30);
}

.footer-1-title {
    font-family: Bebas Neue;
    font-size: 2.4375rem;
    letter-spacing: -0.08531rem;
}

.footer-1-text {
    font-family: Roboto;
    font-size: 1rem;
    line-height: 1.875rem;
    letter-spacing: 0.03rem;
}

.footer-content-termsAndConditions-wrapper {
    background: #D9C9B9;
}

.footer-content-copyright-wrapper {
    background: #FFF;
}

.footer-content-copyright {
    font-family: Victor Mono;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .nav-bar {
        margin: 1rem 0 1.2rem 0;
        padding: 0;
    }
}

@media (max-width:575px) {
    .blog-btn {
        width: 100%;
    }

    .hero-card-btn {
        width: 100%;
    }

    .row {
        text-align: center;
    }

    .footer-content-social-list {
        justify-content: center;
    }

    .footer-content-text {
        justify-content: center;
    }

    .footer-1-form {
        text-align: left;

    }
}